<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<link rel="stylesheet" href="{{ args['cssPath'] }}">

<body>
    <table>
        <tr >
            <td colspan="2" style="background-color: pink; color: white">{{ args['name'] }}</td>
        </tr>
        <tr>
            <td rowspan="4"><img src="{{ args['pic'] }}"></td>
            <td class="key">用途</td>
        </tr>
        <tr>
            <td>{{ args['usage'] }}</td>
        </tr>
        <tr>
            <td class="key">描述</td>
        </tr>
        <tr>
            <td>{{ args['description'] }}</td>
        </tr>
        <tr>
            <td colspan="2" class="key">掉落</td>
        </tr>
        {% if args['stageDropList']|length == 0 %}
        <tr>
            <td colspan="2"> - </td>
        </tr>
        {% else %}
        {% for v in args['stageDropList'] %}
        <tr>
            <td>{{ v['stageCode'] }}</td>
            <td>{{ v['occPer'] }}</td>
        </tr>
        {% endfor %}
        {% endif %}
    </table>
</body>

</html>
