<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<link rel="stylesheet" href="{{ args['cssPath'] }}">

<body>
    <table>
        <tr>
            <td colspan="3" style="background-color: pink; color: white">
            {% with tmp = args['name'] + ' ' + (args['rarity']+1)*'★' %}{{ tmp }}{% endwith %}
            </td>
        </tr>
        <tr>
            <td rowspan="6"><img src="{{ args['pic'] }}"></td>
            <td class="key" colspan="2">分支</td>
        </tr>
        <tr>
            <td colspan="2" rowspan="2">
            {% with tmp = args['profession'] + ' ' + args['subProfessionId'] %}{{ tmp }}{% endwith %}
            </td>
        </tr>
        <tr>
        </tr>
        <tr>
            <td class="key" colspan="2">分支特性</td>
        </tr>
        <tr>
            <td colspan="2" rowspan="2">{{ args['description'] }}</td>
        </tr>
        <tr>
        </tr>
        <tr>
            <td colspan="3" class="key">标签</td>
        </tr>
        <tr>
            <td colspan="3">{{ args['tagList'] }}</td>
        </tr>
    </table>
    <p style="text-align: bottom;">属性</p>
    <table>
        <tr>
            <td class="key">再部署时间</td>
            <td>{{ args['phases'][0]['attributesKeyFrames'][0]['data']['respawnTime'] }}s</td>
            <td class="key">初始部署费用</td>
            <td>
                {{ args['phases'][0]['attributesKeyFrames'][0]['data']['cost'] }}
                →
                {{ args['phases'][-1]['attributesKeyFrames'][0]['data']['cost'] }}
            </td>
        </tr>
        <tr>
            <td class="key">阻挡数</td>
            <td>{{ args['phases'][0]['attributesKeyFrames'][0]['data']['blockCnt'] }}</td>
            <td class="key">攻击间隔</td>
            <td>{{ args['phases'][0]['attributesKeyFrames'][0]['data']['baseAttackTime'] }}s</td>
        </tr>
    </table>
    <br>
    <table>
        <tr>
            <td class="key"></td>
            <td class="key">精英0 1级</td>
            <td class="key">精英0 满级</td>
            <td class="key">精英1 1级</td>
            <td class="key">精英1 满级</td>
            <td class="key">精英2 1级</td>
            <td class="key">精英2 满级</td>
            <td class="key">信赖加成上限</td>
        </tr>
        <tr>
            <td class="key">生命上限</td>
            {% for each in args['phases'] %}
            <td>{{ each['attributesKeyFrames'][0]['data']['maxHp'] }}</td>
            <td>{{ each['attributesKeyFrames'][1]['data']['maxHp'] }}</td>
            {% endfor %}
            {% for i in range(args['phases']|length, 3) %}
            <td> - </td>
            <td> - </td>
            {% endfor %}
            {% if args['favorKeyFrames'] %}
            <td>{{ args['favorKeyFrames'][-1]['data']['maxHp'] }}</td>
            {% else %}
            <td> - </td>
            {% endif %}
        </tr>
        <tr>
            <td class="key">攻击</td>
            {% for each in args['phases'] %}
            <td>{{ each['attributesKeyFrames'][0]['data']['atk'] }}</td>
            <td>{{ each['attributesKeyFrames'][1]['data']['atk'] }}</td>
            {% endfor %}
            {% for i in range(args['phases']|length, 3) %}
            <td> - </td>
            <td> - </td>
            {% endfor %}
            {% if args['favorKeyFrames'] %}
            <td>{{ args['favorKeyFrames'][-1]['data']['atk'] }}</td>
            {% else %}
            <td> - </td>
            {% endif %}
        </tr>
        <tr>
            <td class="key">防御</td>
            {% for each in args['phases'] %}
            <td>{{ each['attributesKeyFrames'][0]['data']['def'] }}</td>
            <td>{{ each['attributesKeyFrames'][1]['data']['def'] }}</td>
            {% endfor %}
            {% for i in range(args['phases']|length, 3) %}
            <td> - </td>
            <td> - </td>
            {% endfor %}
            {% if args['favorKeyFrames'] %}
            <td>{{ args['favorKeyFrames'][-1]['data']['def'] }}</td>
            {% else %}
            <td> - </td>
            {% endif %}
        </tr>
        <tr>
            <td class="key">法术抗性</td>
            {% for each in args['phases'] %}
            <td>{{ each['attributesKeyFrames'][0]['data']['magicResistance'] }}</td>
            <td>{{ each['attributesKeyFrames'][1]['data']['magicResistance'] }}</td>
            {% endfor %}
            {% for i in range(args['phases']|length, 3) %}
            <td> - </td>
            <td> - </td>
            {% endfor %}
            {% if args['favorKeyFrames'] %}
            <td>{{ args['favorKeyFrames'][-1]['data']['magicResistance'] }}</td>
            {% else %}
            <td> - </td>
            {% endif %}
        </tr>
    </table>
    <p style="text-align: bottom;">攻击范围</p>
    <table>
        <tr>
            <td class="key">精英0</td>
            <td class="key">精英1</td>
            <td class="key">精英2</td>
        </tr>
        <tr>
            {% for each in args['phases'] %}
            <td>{{ each['range'] }}</td>
            {% endfor %}
            {% for i in range(args['phases']|length, 3) %}
            <td> - </td>
            {% endfor %}
        </tr>
        <tr>
            <td class="key">一技能</td>
            <td class="key">二技能</td>
            <td class="key">三技能</td>
        </tr>
        <tr>
            {% for skill in args['skills'] %}
            {% if skill['skillInfo']['levels'][0]['rangeId'] %}
            <td>{{ skill['skillInfo']['levels'][0]['range'] }}</td>
            {% else %}
            <td> - </td>
            {% endif %}
            {% endfor %}
            {% for i in range(args['skills']|length, 3) %}
            <td> - </td>
            {% endfor %}
        </tr>
    </table>
    <p style="text-align: bottom;">天赋</p>
    <table>
        <tr>
            <td class="key">天赋</td>
            <td class="key">名称</td>
            <td class="key">条件</td>
            <td class="key" colspan="3">描述</td>
        </tr>
        {% for i in range(args['talents']|length) %}
        {% for j in range(args['talents'][i]['candidates']|length) %}
        <tr>
            {% if j == 0 %}
            <td rowspan="{{ args['talents'][i]['candidates']|length }}">第{{ i+1 }}天赋</td>
            {% endif %}
            <td>{{  args['talents'][i]['candidates'][j]['name']  }}</td>
            <td>
                精英{{ args['talents'][i]['candidates'][j]['unlockCondition']['phase'] }}
                &nbsp;
                潜能{{ args['talents'][i]['candidates'][j]['requiredPotentialRank'] }}
            </td>
            <td colspan="3">{{ args['talents'][i]['candidates'][j]['description'] }}</td>
        </tr>
        {% endfor %}
        {% endfor %}
    </table>
    <p style="text-align: bottom;">潜能提升</p>
    <table>
        <tr>
            <td class="key">潜能2</td>
            <td class="key">潜能3</td>
            <td class="key">潜能4</td>
            <td class="key">潜能5</td>
            <td class="key">潜能6</td>
        </tr>
        <tr>
            {% if args['potentialRanks'] %}
            <td>{{  args['potentialRanks'][0]['description']  }}</td>
            <td>{{  args['potentialRanks'][1]['description']  }}</td>
            <td>{{  args['potentialRanks'][2]['description']  }}</td>
            <td>{{  args['potentialRanks'][3]['description']  }}</td>
            <td>{{  args['potentialRanks'][4]['description']  }}</td>
            {% else %}
            <td> - </td>
            <td> - </td>
            <td> - </td>
            <td> - </td>
            <td> - </td>
            {% endif %}
        </tr>
    </table>
    <p style="text-align: bottom;">技能</p>
    {% for skill in args['skills'] %}
    <table>
        <tr>
            <td colspan="2"><img src="{{ skill['skillPic'] }}"></td>
            <td colspan="8">{{ skill['skillInfo']['levels'][0]['name'] }}</td>
            <td colspan="5">
                {% if skill['skillInfo']['levels'][0]['spData']['spType'] == 1 %}
                <span style="margin-left:5px;padding-left:5px;padding-right:5px;background-color:#8EC31F;border-radius:5px;color:#FFF;">自动回复</span>
                {% elif skill['skillInfo']['levels'][0]['spData']['spType'] == 2 %}
                <span style="margin-left:5px;padding-left:5px;padding-right:5px;background-color:#FC793E;border-radius:5px;color:#FFF;">攻击回复</span>
                {% elif skill['skillInfo']['levels'][0]['spData']['spType'] == 4 %}
                <span style="margin-left:5px;padding-left:5px;padding-right:5px;background-color:#F4AF09;border-radius:5px;color:#FFF;">受击回复</span>
                {% endif %}
                {% if skill['skillInfo']['levels'][0]['skillType'] == 1 %}
                <span style="margin-left:5px;padding-left:5px;padding-right:5px;background-color:#808080;border-radius:5px;color:#FFF;">手动触发</span>
                {% elif skill['skillInfo']['levels'][0]['skillType'] == 2 %}
                <span style="margin-left:5px;padding-left:5px;padding-right:5px;background-color:#808080;border-radius:5px;color:#FFF;">自动触发</span>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td class="key" colspan="2">等级</td>
            <td class="key" colspan="10">描述</td>
            <td class="key">▶ 初始</td>
            <td class="key">☇ 消耗</td>
            <td class="key">◈ 持续</td>
        </tr>
        {% for lvl in skill['skillInfo']['levels'] %}
        <tr>
            {% if loop.index <= 7 %}
            <td colspan="2">{{ loop.index }}</td>
            {% elif loop.index == 8 %}
            <td colspan="2">Rank Ⅰ</td>
            {% elif loop.index == 9 %}
            <td colspan="2">Rank Ⅱ</td>
            {% elif loop.index == 10 %}
            <td colspan="2">Rank Ⅲ</td>
            {% endif %}
            <td colspan="10">{{ lvl['description'] }}</td>
            <td>{{ lvl['spData']['initSp'] }}</td>
            <td>{{ lvl['spData']['spCost'] }}</td>
            <td>{{ lvl['duration'] }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    {% endfor %}
    <p style="text-align: bottom;">精英化材料</p>
    <table>
        {% for each in args['phases'] %}
        {% if each['evolveCost'] %}
        <tr>
            <td class="key">精英{{ loop.index0-1 }}&nbsp;->&nbsp;精英{{ loop.index0 }}</td>
            <td colspan="4">
                {% for m in each['evolveCost'] %}
                <img src="{{ m['pic'] }}">X{{ m['count'] }}
                {% endfor %}
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>
    <p style="text-align: bottom;">技能升级材料</p>
    <table>
        <tr class="key"><td class="key" colspan="10">技能升级</td></tr>
        {% if args['allSkillLvlup'] %}
        {% for each in args['allSkillLvlup']  %}
        <tr>
            <td class="key" colspan="2">{{ loop.index }} -> {{ loop.index+1 }}</td>
            <td colspan="8">
                {% if each['lvlUpCost'] %}
                {% for m in each['lvlUpCost'] %}
                <img src="{{ m['pic'] }}">X{{ m['count'] }}
                {% endfor %}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        {% endif %}
        <tr class="key"><td class="key" colspan="10">技能专精</td></tr>
        {% if args['skills'] %}
        {% for i in range(args['skills']|length)  %}
        {% if args['skills'][i]['levelUpCostCond'] %}
        {% for j in range(args['skills'][i]['levelUpCostCond']|length) %}
        <tr>
            {% if j == 0 %}
            <td class="key" rowspan="3">{{ i+1 }}技能</td>
            {% endif %}
            <td class="key">专精{{ j+1 }}</td>
            <td colspan="8">
                {% if args['skills'][i]['levelUpCostCond'][j]['levelUpCost'] %}
                {% for each in args['skills'][i]['levelUpCostCond'][j]['levelUpCost'] %}
                <img src="{{ each['pic'] }}">X{{ each['count'] }}
                {% endfor %}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        {% endif %}
        {% endfor %}
        {% endif %}
    </table>
</body>

</html>
